/*
 * Copyright (c) 2022, NVIDIA CORPORATION.  All rights reserved.
 * Copyright (c) 2023 Antmicro <www.antmicro.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "imx219-default-mode.h"
#include "alvium-default-mode.h"

 // Camera nodes
 &job_cam0_i2c {
	avt_csi2_a@3c {
		status = "okay";
		reg = <0x3c>;
		compatible = "alliedvision,avt_csi2";
		

		devnode = "video0";
		avt3,userptr;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				avt_csi2_out0: endpoint {
					port-index = <0>;
					bus-width = <4>;
					data-lanes = <1 2 3 4>;
					clock-lanes = <0>;
					link-frequencies = /bits/ 64 <400000000>;
					remote-endpoint = <&avt_csi2_csi_in0>;
				};
			};
		};

		mode0 {
			num_lanes = "4";
			tegra_sinterface = "serial_a";
			lane_polarity = "0";

			ALVIUM_DEFAULT_MODE
		};
	};
};

 &job_cam1_i2c {
 	imx219_cam0: camera@10 {
		compatible = "sony,imx219";
		/* I2C device address */
		reg = <0x10>;
		/* V4L2 device node location */
		devnode = "video1";
		/* Physical dimensions of sensor */
		physical_w = "3.680";
		physical_h = "2.760";
		sensor_model = "imx219";
		use_sensor_mode_id = "true";

		reset-gpios = <&gpio TEGRA234_MAIN_GPIO(G, 6) GPIO_ACTIVE_HIGH>;
		/* avdd-reg = "job_reg_csia_3v3"; */

		mode0 { /* IMX219_MODE_3280x2464_21FPS */
			num_lanes = "2";
			tegra_sinterface = "serial_c";
			lane_polarity = "0";
			active_w = "3280";
			active_h = "2464";
			max_framerate = "21000000"; /* 21.0 fps */
			default_framerate = "21000000"; /* 21.0 fps */
			IMX219_DEFAULT_MODE
		};
		mode1 { /* IMX219_MODE_3280x1848_28FPS */
			num_lanes = "2";
			tegra_sinterface = "serial_c";
			lane_polarity = "0";
			active_w = "3280";
			active_h = "1848";
			max_framerate = "28000000"; /* 28.0 fps */
			default_framerate = "28000000"; /* 28.0 fps */
			IMX219_DEFAULT_MODE
		};
		mode2 { /* IMX219_MODE_1920x1080_30FPS */
			num_lanes = "2";
			tegra_sinterface = "serial_c";
			lane_polarity = "0";
			active_w = "1920";
			active_h = "1080";
			max_framerate = "30000000"; /* 30.0 fps */
			default_framerate = "30000000"; /* 30.0 fps */
			IMX219_DEFAULT_MODE
		};
		mode3 { /* IMX219_MODE_1640x1232_30FPS */
			num_lanes = "2";
			tegra_sinterface = "serial_c";
			lane_polarity = "0";
			active_w = "1640";
			active_h = "1232";
			max_framerate = "30000000"; /* 60.0 fps */
			default_framerate = "30000000"; /* 60.0 fps */
			IMX219_DEFAULT_MODE
		};
		mode4 { /* IMX219_MODE_1280x720_60FPS */
			num_lanes = "2";
			tegra_sinterface = "serial_c";
			lane_polarity = "0";
			active_w = "1280";
			active_h = "720";
			max_framerate = "60000000"; /* 60.0 fps */
			default_framerate = "60000000"; /* 60.0 fps */
			IMX219_DEFAULT_MODE
		};
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				reg = <0>;
				rbpcv2_imx219_out0: endpoint {
					port-index = <2>;
					bus-width = <2>;
					remote-endpoint = <&rbpcv2_imx219_csi_in1>;
				};
			};
		};
	};
};

/ {
	bus@0 {
		host1x@13e00000 {
			nvcsi@15a00000 {
				num-channels = <2>;
				#address-cells = <1>;
				#size-cells = <0>;
				channel@0 {
					status = "okay";
					reg = <0>;
					ports {
						#address-cells = <1>;
						#size-cells = <0>;
						status = "okay";
						port@0 {
							status = "okay";
							reg = <0>;
							avt_csi2_csi_in0: endpoint@0 {
								status = "okay";
								port-index = <0>;
								bus-width = <4>;
								remote-endpoint = <&avt_csi2_out0>;
							};
						};
						port@1 {
							status = "okay";
							reg = <1>;
							avt_csi2_csi_out0: endpoint@1 {
								status = "okay";
								remote-endpoint = <&avt_csi2_vi_in0>;
							};
						};
					};
				};
				channel@1 {
					reg = <1>;
					ports {
						#address-cells = <1>;
						#size-cells = <0>;
						port@0 {
							reg = <0>;
							rbpcv2_imx219_csi_in1: endpoint@2 {
								port-index = <2>;
								bus-width = <2>;
								remote-endpoint = <&rbpcv2_imx219_out0>;
							};
						};
						port@1 {
							reg = <1>;
							rbpcv2_imx219_csi_out1: endpoint@3 {
								port-index = <2>;
								bus-width = <2>;
								remote-endpoint = <&rbpcv2_imx219_vi_in1>;
							};
						};
					};
				};
			};
		};

		lens_imx219@RBPCV2 {
			min_focus_distance = "0.0";
			hyper_focal = "0.0";
			focal_length = "3.04";
			f_number = "2.0";
			aperture = "0.0";
		};
	};

	avt_csitl {
		supported_data_types = [ 31 ];
		min_announced_frames = <1>;

		ipu {
			y_min = <32>;
			y_inc = <1>;
			y_max = <32768>;
			x_min = <256>;
			x_inc = <192>;
			x_max = <32768>;
		};
	};

	tegra-capture-vi {
		status = "okay";
		compatible = "alliedvision,tegra-camrtc-capture-vi", "nvidia,tegra-camrtc-capture-vi";
		num-channels = <2>;
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";
			port@0 {
				status = "okay";
				reg = <0>;
				avt_csi2_vi_in0: endpoint {
					status = "okay";
					port-index = <0>;
					bus-width = <4>;
					remote-endpoint = <&avt_csi2_csi_out0>;
				};
			};
			port@1 {
				status = "okay";
				reg = <1>;
				rbpcv2_imx219_vi_in1: endpoint {
					port-index = <2>;
					bus-width = <2>;
					remote-endpoint = <&rbpcv2_imx219_csi_out1>;
				};
			};
		};
	};

	tcp: tegra-camera-platform {
		compatible = "nvidia, tegra-camera-platform";
		status = "okay";

		num_csi_lanes = <6>;
		max_lane_speed = <1500000>;
		min_bits_per_pixel = <8>;
		vi_peak_byte_per_pixel = <2>;
		vi_bw_margin_pct = <25>;
		max_pixel_rate = <240000>;
		isp_peak_byte_per_pixel = <5>;
		isp_bw_margin_pct = <25>;

		modules {
			cam_module0: module0 {
				status = "okay";
				badge = "avt_csi2_a";
				position = "front";
				orientation = "1";
				cam_module0_drivernode0: drivernode0 {
					status = "okay";
					pcl_id = "v4l2_sensor";
					devname = "avt_csi2_a";
					proc-device-tree = "/proc/device-tree/bus@0/i2c@3180000/pca9548@70/i2c@0/avt_csi2_a@3c";
				};
			};
			cam_module1: module1 {
				badge = "jakku_front_RBP194";
				position = "rear";
				orientation = "1";
				cam_module1_drivernode0: drivernode0 {
					pcl_id = "v4l2_sensor";
					sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/i2c@3180000/pca9548@70/i2c@1/camera@10";
				};
				cam_module1_drivernode1: drivernode1 {
					pcl_id = "v4l2_lens";
					sysfs-device-tree = "/sys/firmware/devicetree/base/bus@0/lens_imx219@RBPCV2";
				};
			};
		};
	};
};
